body {
  background: #3e3e3e;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 100vh;
}

.drum-body {
  background: var(--color-parche);
  border: 2px solid var(--color-cuerpo);
  border-radius: 50%;
  position: relative;
}

.logo {
  position: absolute;
  left: 50%;
  width: 20%;
  height: 15%;
  transform: translateX(-50%);
  pointer-events: none;
  user-select: none;
}

.top {
  top: 10%;
}

.bottom {
  bottom: 10%;
}

.drum-cymbal {
  position: relative;
  border-radius: 50%;
  border: 1px solid rgb(158, 116, 25);
  background: rgb(226, 169, 44);
  background: radial-gradient(circle, rgba(226, 169, 44, 1) 0%, rgba(189, 138, 0, 1) 100%);
}

.drum-cymbal::before {
  content: '';
  position: absolute;
  width: 30%;
  height: 30%;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: brightness(0.95);
  background: rgb(226, 169, 44);
  background: radial-gradient(circle, rgba(226, 169, 44, 1) 0%, rgba(189, 138, 0, 1) 100%);
}

.drum-body:active, .drum-cymbal:active {
  transform: scale(1.1);
  filter: brightness(1.1);
}

.drum-upper, .drum-lower {
  display: flex;
  justify-content: center;
}

.drum-upper {
  align-items: flex-end;
}

.drum-lower {
  align-items: flex-start;
}

.drum-lower > .drum-body:nth-child(3) {
  margin: 0 -30px;
}

.drum-lower > :not(.drum-body:nth-child(3)){
  z-index: 1;
}

.key {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  border-radius: 5px;
  background: #ffffff5d;
  padding: 0.2rem 0.4rem;
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  user-select: none;
  pointer-events: none;
}

.active {
  transform: scale(1.1);
  filter: brightness(1.1);
}

@media screen and (width < 500px) {
  .drumkit {
    height: 300px;
    max-width: 280px;
  }

  .drum-upper, .drum-lower {
    width: 280px;
  }
}